.month-header {
  height: 15%;
  width: 100%;
}
.month-header-col {
  float: left;
  height: 100%;
}
.month-header-left {
  height: 100%;
  width: 10%;
  background-color: darkblue;
}
.month-header-center {
  height: 100%;
  width: 80%;
  text-align: center;
}
.month-header-right {
  height: 100%;
  width: 10%;
  background-color: darkblue;
}
.month-header-col h1 {
  position: relative;
  height: 100%;
  margin: 0;
  top: 10px;
}
 