.day-box-start {
  display: inline-block;
  width: 14.28%;
  height: 100%;
}
.day-box {
  display: inline-block;
  width: 14.28%;
  height: 100%; 
  border-left: 1px solid black;
}
.day-box:hover {
  background-color: #979899;
}
.day-box-start:hover {
  background-color: #979899;
}